

<h1>Add Event</h1>

<form method="post">
    <input type="text" name="name" />
    <input type="text" name="description" />

    <input type="Submit" value="Add Event!" />


</form>

<!--Avipsha - another Layout partial link created -->
<!--<p> <partial name="/Views/Shared/ModifyLayout.cshtml" /></p> -->

<p>

    <a asp-controller="Events" asp-action="Index">Event List</a> <!--this will create a link to go to Event List page-->

</p>
