
@using CodingEvents.ViewModel;

@model AddEventviewModel; 

<h1>Add Event</h1>

<form method="post">
    <div asp-controller="Events" asp-action="AddEvents" class="form-group">
        <label asp-for="Name"></label>

        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>


    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>


    <div class="form-group">
        <label asp-for="Date"></label>
        <input type="date" asp-for="Date" />
        <span asp-validation-for="Date"></span>
    </div>

    <div class="form-group">
        <label asp-for="ContactEmail"></label>
        <input asp-for="ContactEmail" />
        <span asp-validation-for="ContactEmail"></span>
    </div>

    <div class="form-group">
        <label asp-for="EventLocation"></label>
        <input asp-for="EventLocation" />
        <span asp-validation-for="EventLocation"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfAtendee"></label>
        <input asp-for="NumberOfAtendee" />
        <span asp-validation-for="NumberOfAtendee"></span>
    </div>

    <div class="form-group">
        <label asp-for="Register"></label>
        <input asp-for="Register" />
        <span asp-validation-for="Register"></span>
    </div>
   


    <input type="Submit" value="Add Event!" />


</form>

<!--Avipsha - another Layout partial link created -->
<!--<p> <partial name="/Views/Shared/ModifyLayout.cshtml" /></p> -->

<p>

    <a asp-controller="Events" asp-action="Index">Event List</a> <!--this will create a link to go to Event List page-->

</p>
