
<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="~/css/Custom.css" /> <!--connection between custom.css file created sheperately by me inside wwwroot and view files. wwwroot/Custom.css. 
                                                          also copy paste this link code inside  _Layout.cshtml file inside shared folder. shared/Layout.cshtml in line 9 -->
   
</head>


<body>
<h1>Family Events</h1>
<p>

    <a asp-controller="Events" asp-action="AddEvents">Add Event</a> <!-- this will create a link to go to the AddEvent page-->
   

</p>
<p> <a asp-controller="Events" asp-action="DeleteEvents">Delete Event</a> <!-- this will create a link to go to the AddEvent page--></p>



@if (ViewBag.events.Count == 0)
{
    <p>No Events yet!!</p>
}
else
{
<table id="customers">
    <tr>
        <th>ID:</th>
        <th> Name:</th>
        <th> Description:</th>
        <th> Date:</th>
    </tr>

    @foreach (var meeting in ViewBag.events)
    {
<tr>
    <td>@meeting.Id</td>
    <td>@meeting.Name</td>
    <td>@meeting.Description</td>
    <td>@meeting.Date</td>
   




</tr>

    }
</table>
}
    </body>

<!--Alternate way -- below code will create links which is create inside a different folder under shared/ModifyLayout.cshtml-->
<!--Avipsha - another Layout partial link created -->
<!--<p> <partial name="/Views/Shared/ModifyLayout.cshtml" /></p>-->

</html>
