
<a href="https://localhost:5001/Events">Events</a>
<br />
<a href="https://localhost:5001/Events/AddEvents">Add Events</a>
<br/>
<a href="https://localhost:5001/Events/Delete">Delete Events</a>

<br />


<!-- Partial layout link for this file. reusable to any file or layouts-->
<!--<p> <partial name="/Views/Shared/ModifyLayout.cshtml" /></p>-->